/*
header hgroup{
  margin: 0 auto;
  display:table;
}

header img{
  float:left;
}
*/
.background{
  background:grey;
}

.main{
  background:white;
  max-width: 920px;
  margin:20px auto;
}

.menu{
  max-width: 920px;
}

.login{
    margin:40px auto;
}

.img-responsive{
  margin: 0 auto;
}

.img-profile{
  max-width: 150px;
}

.vertical-align{
  display: flex;
  align-items: center;
}

/* Responsive iFrame */

.responsive-iframe-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.padding{
  padding:10px;
}
.right{
  margin-right:0px;
}
