header hgroup{
  margin: 0 auto;
  display:table;
}

header img{
  float:left;
}

.background{
  background:grey;
}

.container{
  background:white;
}

.img-responsive{
  margin: 0 auto;
}

.vertical-align{
  display: flex;
  align-items: center;
}
