<!--div ng-repeat="album in albums">
  <a href="{{ 'albums/'+album.id }}" >
    <div ng-bind="album.name"></div>
  </a>
  <div ng-bind="album.id"></div>
  <div ng-bind="album.description"></div>
  <img ng-src="{{ getImg(album.cover_photo) }}"></img>
</div-->


<div class="container container-fluid">
  <div class="albums">
    <h2>Dojo Gallery</h2>
    <div ng-repeat="a in albums" class="album">
      <div class="row">
        <div class="col-sm-2">
          <div class="album-cover img-responsive">
            <a href="{{ 'albums/'+a.id }}"><img src="{{ getImg(a.cover_photo)}}"></a>
          </div>
        </div>
        <div class="col-sm-10">
          <a href="{{ 'albums/'+a.id }}" >
            <h3 ng-bind="a.name" > </h3>
          </a>
          <span ng-bind="a.description"></span>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="album in albums">
        <span class="badge">{{album.count}}</span>
        <a href="{{ 'albums/'+album.id }}" >
          <div ng-bind="album.name" > </div>
        </a>
       <div ng-bind="album.description"></div>
       <a href="{{ 'albums/'+album.id }}"> <img src="{{ getImg(album.cover_photo)}}" class="img-rounded img-responsive"> </a>

       <div ng-bind="album.description"></div>
      </li>
    </ul>
  </div>-->
</div>
