<div class="container container-fluid">
  <p>Inviaci un email per avere chiarimenti o informazioni</p>
  <form ng-submit="send()" ng-hide="isSend">
    <div class="form-group">
      <label for="email">Email</label>
      <input ng-model="mail" type="email" class="form-control" id="email" placeholder="Inserisci la tua email">
      <p></p>
    </div>
    <div class="form-group">
      <label for="oggetto">Oggetto</label>
      <input type="text" ng-model="subject" class="form-control" id="oggetto" placeholder="Inserisci l'oggetto del messaggio">
      <p></p>
    </div>
    <div class="form-group">
      <label for="testo">Testo</label>
      <textarea ng-model="text" class="form-control" rows="10" id="testo"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Invia</button>
  </form>
  <div ng-show="isSend">Inviata!</div>
</div>
