<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <label for="title" class="control-label">Title</label>
      <input type="text" id="title" class="form-control" ng-model="title">
    </div>
    <div class="col-sm-4">
      <label class="control-label">User</label>
      <input type="text" class="form-control" ng-model="user">
    </div>
    <div class="col-sm-4">
      <label class="control-label">Tags</label>
      <input type="text" class="form-control" ng-model="tags">
    </div>
  </div>
  <br/>
  <label for="text" class="control-label">Title</label>
  <div text-angular ng-model="text" class="padding" id="text"></div>
  <br/>
  <button type="submit" class="btn btn-default padding" ng-click="submit()">Submit</button>
</div>
